html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.image {
  display: flex;
  position: absolute;
}

.banner {
  display: flex;
  position: absolute;
}

body {
  overflow: hidden;
  margin: 0;
  max-height: 500px;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 3rem;
  color: #000;
  display: inline;
}

p {
  font-size: 1.5rem;
  display: inline-block;
}

.btn {
  font-size: 1.125rem;
  padding: .4em .75em .3em;
  background-color: #333;
  text-decoration: none;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  display: inline-block;
  margin: auto;
  border-style: solid;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
